:root {
  --primary: #2C2C54;
  --light: #B7C3F3;
  --red: #bb0A21;
  --green: #397367;
  --other-green: #4B644A;
  --gold: #E8C547;

  background-color: var(--primary);
}

.App {
  text-align: center;
  background-color: var(--primary);
  color: var(--gold);

  display: flex;
  flex-direction: row;
}

hr {
  width: 100%;
}

.Tools {
  width: 50%;
  min-height: 100vh;
  border-style: none solid none none;
  border-color: var(--gold);
  border-width: thick;
}

.Documents {
  width: 50%;
}
